.shopCategory-banner{
    display: block;
    margin: 20px auto;
    width: 80%;
}
.shopCategory-indexSort{
    display: flex;
    margin: 0px 50px;
    justify-content: space-between;
    align-items: center;
}
.shopCategory-sort{
    border: 1px solid #888;
    border-radius: 50px;
    padding: 10px 20px;
}
.shopCategory-indexSort p span{
    font-weight: 700;
    font-size: 25px;
}
.shopCategory-product{
    margin: 20px 20px;
    row-gap: 90px;
    gap: 35px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
}

.explore-more{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px auto;
    border-radius: 80px;
    width: 250px;
    height: 60px;
    background-color: #787878;
    color: black;
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
}