.cartitem{
    margin: 100px 170px;
}
.cartitem hr{
    height: 3px;
    border: 0;
    background-color: #050505;
}
.cartitem-format-main{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    font-size: 25px;
    color: #454545;
    padding: 20px 0px;
    gap: 75px;
    font-weight: 600;
}
.cartitem-format{
  font-size: 15px;
  font-weight: 600;
}
.carticon-producticon{
    height: 120px;
}
.cartitem-remove-icon{
    width: 20px;
    margin: 0px 40px;
    cursor: pointer;
}
.cartitem-quantity{
    width: 64px;
    height: 50px;
    background-color: #fff;
    border: 2px solid #ededed;
}
.cartitem-down{
    display: flex;
    margin: 50px 0px;
}
.cartitem-total{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 100px;
    gap: 40px;
}
.cartitem-total-item{
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
}
@media(max-width:1280px){
    .cartitem{
        margin: 60px 50px;
    }
    .cartitem-format-main{
        grid-template-columns: 0.5fr 3fr 0.5fr 0.5fr 0.5fr 0.5fr;
        gap: 20px;
        padding: 15px 0px;
        font-size: 19px;
    }
    .carticon-producticon{
        height: 70px;
    }
    .cartitem-remove-icon{
        margin: auto;
    }
    .cartitem-quantity{
        height: 40px;
        width: 40px;
    }
    .cartitem-down{
        margin: 80px 0px;
        flex-direction: column;
        gap: 50px;
    }
    .cartitem-total{
        margin: 0px;
    }
}
@media(max-width:500px){
    .cartitem-format-main{
        display: none;
        grid-template-columns: 0.5fr 3fr 0.5fr;
        gap: 10px;
        font-size: 15px;
    }
    .cartitem-format{
        display: grid;
    }
    .cartitem-quantity{
        height: 30px;
        width: 30px;
    }
}