.item{
    width: 280px;
  
}
.item img {
  width: 100%;
  height: auto;
}
.item p{
    margin: 6px 0px;
  
}
.item-prices{
    display: flex;
    gap: 25px;
}
.item-prices-new{
    color: gray;
    font-size: 25px;
    font-weight: 600;
}
.item-prices-old{
   color: gray;
    font-size: 25px;
    font-weight: 600;
    text-decoration: line-through; 
}
.item:hover{
    transform: scale(1.05);
    transition: 1.6s;
}



@media (max-width: 1248px) {
    .item {
        width: 220px;
        font-size: 14px;
    }
    .item img{
        width: 220px;
    }

    .item-prices-new,
    .item-prices-old {
        font-size: 22px;
    }
}


@media (max-width: 1024px) {
    .item {
        width: 170px;
    }

    .item img {
        width: 170px;
    }

    .item-prices-new,
    .item-prices-old {
        font-size: 18px;
    }
}


@media (max-width: 800px) {
    .item {
        width: 120px;
    }
    .item img {
        width: 120px;
    }

    .item-prices-new,
    .item-prices-old {
        font-size: 15px;
    }
}


@media (max-width: 500px) {
    .item {
        width: 80px; 
    }
    .item img{
        width: 80px;
    }

    .item-prices-new,
    .item-prices-old {
        font-size: 12px;
    }
    .item p{
        font-size: 8px;
    }
}