.productdisplay{
    display: flex;
    margin: 0px 150px;
}
.productdisplay-left{
    display: flex;
    gap: 15px;
}
.productdisplay-image-list{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.productdisplay-image-list img{
    height: 100px;
}
.productdisplay-main-image{
    width: 400px;
    height: 450px;
}
.productdisplay-right{
 margin: 0px 70px;
 display: flex;
 flex-direction: column;
}
.productdisplay-right h1{
    color: #160404;
    font-size: 25px;
    font-weight: 700;
}
.productdisplay-right-star{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 15px;
    color: #1c1c1c;
    font-size: 15px;
}
.productdisplay-right-price{
    display: flex;
    margin: 20px 0px;
    font-size: 20px;
    font-weight: 600;
    gap: 25px;
}
.productdisplay-right-price-old{
    color: #818181;
    text-decoration: line-through;
}
.productdisplay-right-price-new{
    color: #ff4141;
}
.productdisplay-right-size h1{
 font-size: 25px;
 font-weight: 700;
 color: #767676;
 margin-top: 20px;
}
.productdisplay-right-sizes{
    display: flex;
    gap: 18px;
   margin: 20px 0px;
}
.productdisplay-right-sizes div{
    padding: 18px 24px;
    background-color: #fbfbfb;
    border: 1px solid #ebebeb;
    border-radius: 4px;
    cursor: pointer;
}
.productdisplay-right button{
    color: white;
    background-color: #FF4141;
    width: 180px;
    height: 45px;
    padding: 10px 30px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 10px;
    border: none;
    outline: none;
}
.productdisplay-right-category{
    margin-top: 15px;
    font-size: 20px;

}
.productdisplay-right-category span{
    font-weight: 600;
}

@media(max-width:1280px){
    .productdisplay{
        margin: 0px 60px;
    }
    .productdisplay-left{
        gap: 10px;
    }
    .productdisplay-image-list{
        gap: 10px;
    }
    .productdisplay-image-list img{
        height: 90px;
    }
    .productdisplay-main-image{
        width: auto;
        height: 400px;
    }
    .productdisplay-right{
        margin: 0px 30px;
    }
    .productdisplay-right h1{
        font-size: 22px;
    }
    .productdisplay-right-star{
        gap: 5px;
        font-size: 15px;
    }
    .productdisplay-right-price{
       margin: 10px 0px;
       font-size: 18px;
    }
    .productdisplay-right-description{
        font-size: 13px;
    }
    .productdisplay-right-size h1{
        margin-top: 20px;
        font-size: 20px;
    }
    .productdisplay-right-size div{
        padding: 14px 20px;
    }
    .productdisplay-right button {
        width: 150px;
        font-size: 15px;
    }
    .productdisplay-right-category{
        margin-top: 5px;
        font-size: 14px;
    }
}

@media(max-width:1024px){
    .productdisplay{
        margin: 0px 30px;
    }
    .productdisplay-left{
        gap: 5px;
    }
    .productdisplay-image-list{
       height: 80px;
    }
    .productdisplay-image-list img{
        height: 80px;
    }
    .productdisplay-main-image{
        width: auto;
        height: 350px;
    }
    .productdisplay-right h1{
        font-size: 18px;
    }
    .productdisplay-right-star img{
        width: 15px;
    }
    .productdisplay-right-description{
        font-size: 12px;
    }
    .productdisplay-right-sizes{
    margin: 10px 0px;
    }
    .productdisplay-right-sizes div{
      padding: 10px 16px;
      font-size: 12px;
    }
    .productdisplay-right-size h1{
        margin-top: 20px;
        font-size: 20px;
    }
    .productdisplay-right button {
        width: 120px;
        font-size: 11px;
        height: 35px;
    }
    .productdisplay-right-category{
        font-size: 12px;
    }
}

@media(max-width:800px){
    .productdisplay{
        margin: 0px 10px;
    }
    .productdisplay-left{
        gap: 0px;
        flex-direction: column-reverse;
        align-items: center;
    }
    .productdisplay-image-list{
       flex-direction: row;
       gap: 6px;
       margin-top: 5px;
    }
    .productdisplay-image-list img{
        height: 70px;
    }
    .productdisplay-main-image{
        width: auto;
        height: 300px;
    }
    .productdisplay-right h1{
        font-size: 14px;
    }
    .productdisplay-right-star img{
        width: 13px;
    }
    .productdisplay-right-description{
        font-size: 10px;
    }
    .productdisplay-right-size h1{
        margin-top: 10px;
    }
    .productdisplay-right-sizes{
    margin: 10px;
    }
    .productdisplay-right-sizes div{
      padding: 4px 11px;
    }
    .productdisplay-right-size h1{
        margin-top: 20px;
        font-size: 20px;
    }
    .productdisplay-right button {
        width: 115px;
        font-size: 10px;
    }
    .productdisplay-right-category{
        font-size: 10px;
    }
}

@media(max-width:500px){
    .productdisplay{
        flex-direction: column;
    }
}